// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

//import style
@import './bootstrap.min.css';
@import './font-awesome.min.css';
@import './flaticon.css';
@import './magnific-popup.css';
@import './owl.carousel.css';
@import './style.css';



$site_color : #6922b4;
$site_color_darker : hsl(269, 68%, 40%);

.color_helper{
    background: #0bd897;
	padding: 0 3px 5px;
	display: inline-block;
	color: #0b1033;
}; 


.btn-site {
    color: #fff;
    background-color: $site_color;
    border-color: $site_color_darker;
};


.btn-site:hover {
    color: #fff;
    background-color: $site_color;
    border-color: $site_color_darker;
};
  